<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>table th, table td {
        padding: 5px;
    }</style>
</head>
<body>
<h1>All Users</h1>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Optional</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${people}">
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td><a th:href="@{/admin/{id}(id=${user.getId()})}">Страница пользователя</a></td>
    </tbody>
</table>
<br>
<br>
<form th:action="@{/admin/addUser}">
    <input type="submit" value="New user">
</form>
<br>
<br>
<form th:action="@{/logout}">
    <input type="submit" value="Выход">
</form>
</body>
</html>